In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [33]:
df=pd.read_csv("D:\\DSML ENTRI\\project\\Co2_Emissions_by_Sectors.csv")
df

,Industry_Type,Region,Country,Year,Co2_Emissions_MetricTons,Energy_Consumption_TWh,Automobile_Co2_Emissions_MetricTons,Industrial_Co2_Emissions_MetricTons,Agriculture_Co2_Emissions_MetricTons,Domestic_Co2_Emissions_MetricTons,Population_Millions,GDP_Billion_USD,Urbanization_Percentage,Renewable_Energy_Percentage,Industrial_Growth_Percentage,Transport_Growth_Percentage
0,Construction,North America,Brazil,2010,89.13,90.14,98.37,118.36,31.41,0.77,941.06,13096.32,52.79,7.78,11.17,2.93
1,Mining,Europe,Germany,2006,224.81,931.70,10.81,66.73,39.45,0.21,1421.94,24337.71,50.18,31.52,13.34,9.30
2,Manufacturing,South America,South Africa,2017,179.72,255.14,55.36,111.67,1.25,4.97,522.75,24523.17,65.22,5.91,-9.88,4.77
3,Construction,Europe,India,2018,23.28,887.29,78.99,123.60,46.81,13.77,1304.60,12616.18,23.69,7.52,-0.64,8.21
4,Construction,Africa,China,2013,124.54,923.03,65.93,52.32,35.67,13.91,1437.68,4476.00,94.64,8.54,5.98,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17681,Manufacturing,Asia,South Africa,2020,177.73,132.27,32.44,90.00,49.83,10.25,849.67,22734.11,62.10,24.19,-8.38,5.79
17682,Energy,Africa,Germany,2009,11.89,615.87,71.90,122.81,3.05,1.50,581.74,14655.12,21.78,29.93,11.33,9.92
17683,Mining,South America,Canada,2017,47.94,564.24,32.63,47.54,47.54,15.02,898.74,16334.18,87.90,55.32,11.33,4.51
17684,Energy,Europe,USA,2012,211.15,826.48,36.02,122.83,19.24,15.82,28.58,20961.68,84.39,51.29,12.82,4.89
17685,Manufacturing,Oceania,China,2004,200.73,970.36,55.00,36.85,27.19,5.70,591.45,11039.64,36.16,69.48,13.29,1.04

In [35]:
df.head()

,Industry_Type,Region,Country,Year,Co2_Emissions_MetricTons,Energy_Consumption_TWh,Automobile_Co2_Emissions_MetricTons,Industrial_Co2_Emissions_MetricTons,Agriculture_Co2_Emissions_MetricTons,Domestic_Co2_Emissions_MetricTons,Population_Millions,GDP_Billion_USD,Urbanization_Percentage,Renewable_Energy_Percentage,Industrial_Growth_Percentage,Transport_Growth_Percentage
0,Construction,North America,Brazil,2010,89.13,90.14,98.37,118.36,31.41,0.77,941.06,13096.32,52.79,7.78,11.17,2.93
1,Mining,Europe,Germany,2006,224.81,931.70,10.81,66.73,39.45,0.21,1421.94,24337.71,50.18,31.52,13.34,9.30
2,Manufacturing,South America,South Africa,2017,179.72,255.14,55.36,111.67,1.25,4.97,522.75,24523.17,65.22,5.91,-9.88,4.77
3,Construction,Europe,India,2018,23.28,887.29,78.99,123.60,46.81,13.77,1304.60,12616.18,23.69,7.52,-0.64,8.21
4,Construction,Africa,China,2013,124.54,923.03,65.93,52.32,35.67,13.91,1437.68,4476.00,94.64,8.54,5.98,0.84

In [37]:
df.tail()

,Industry_Type,Region,Country,Year,Co2_Emissions_MetricTons,Energy_Consumption_TWh,Automobile_Co2_Emissions_MetricTons,Industrial_Co2_Emissions_MetricTons,Agriculture_Co2_Emissions_MetricTons,Domestic_Co2_Emissions_MetricTons,Population_Millions,GDP_Billion_USD,Urbanization_Percentage,Renewable_Energy_Percentage,Industrial_Growth_Percentage,Transport_Growth_Percentage
17681,Manufacturing,Asia,South Africa,2020,177.73,132.27,32.44,90.00,49.83,10.25,849.67,22734.11,62.10,24.19,-8.38,5.79
17682,Energy,Africa,Germany,2009,11.89,615.87,71.90,122.81,3.05,1.50,581.74,14655.12,21.78,29.93,11.33,9.92
17683,Mining,South America,Canada,2017,47.94,564.24,32.63,47.54,47.54,15.02,898.74,16334.18,87.90,55.32,11.33,4.51
17684,Energy,Europe,USA,2012,211.15,826.48,36.02,122.83,19.24,15.82,28.58,20961.68,84.39,51.29,12.82,4.89
17685,Manufacturing,Oceania,China,2004,200.73,970.36,55.00,36.85,27.19,5.70,591.45,11039.64,36.16,69.48,13.29,1.04

In [39]:
df.shape

(17686, 16)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17686 entries, 0 to 17685
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Industry_Type                         17686 non-null  object
 1   Region                                17686 non-null  object
 2   Country                               17686 non-null  object
 3   Year                                  17686 non-null  int64
 4   Co2_Emissions_MetricTons              17686 non-null  float64
 5   Energy_Consumption_TWh                17686 non-null  float64
 6   Automobile_Co2_Emissions_MetricTons   17686 non-null  float64
 7   Industrial_Co2_Emissions_MetricTons   17686 non-null  float64
 8   Agriculture_Co2_Emissions_MetricTons  17686 non-null  float64
 9   Domestic_Co2_Emissions_MetricTons     17686 non-null  float64
 10  Population_Millions                   17686 non-null  float64
 11  GDP_Billion_USD                       17686 non-null  float64
 12  Urbanization_Percentage               17686 non-null  float64
 13  Renewable_Energy_Percentage           17686 non-null  float64
 14  Industrial_Growth_Percentage          17686 non-null  float64
 15  Transport_Growth_Percentage           17686 non-null  float64
dtypes: float64(12), int64(1), object(3)
memory usage: 2.2+ MB

In [43]:
df.dtypes

Industry_Type                            object
Region                                   object
Country                                  object
Year                                      int64
Co2_Emissions_MetricTons                float64
Energy_Consumption_TWh                  float64
Automobile_Co2_Emissions_MetricTons     float64
Industrial_Co2_Emissions_MetricTons     float64
Agriculture_Co2_Emissions_MetricTons    float64
Domestic_Co2_Emissions_MetricTons       float64
Population_Millions                     float64
GDP_Billion_USD                         float64
Urbanization_Percentage                 float64
Renewable_Energy_Percentage             float64
Industrial_Growth_Percentage            float64
Transport_Growth_Percentage             float64
dtype: object

In [45]:
df.isnull().sum()

Industry_Type                           0
Region                                  0
Country                                 0
Year                                    0
Co2_Emissions_MetricTons                0
Energy_Consumption_TWh                  0
Automobile_Co2_Emissions_MetricTons     0
Industrial_Co2_Emissions_MetricTons     0
Agriculture_Co2_Emissions_MetricTons    0
Domestic_Co2_Emissions_MetricTons       0
Population_Millions                     0
GDP_Billion_USD                         0
Urbanization_Percentage                 0
Renewable_Energy_Percentage             0
Industrial_Growth_Percentage            0
Transport_Growth_Percentage             0
dtype: int64

In [47]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,17686.0,2011.024935,6.657483,2000.00,2005.0000,2011.000,2017.0000,2022.00
Co2_Emissions_MetricTons,17686.0,150.331667,86.401588,0.50,75.5800,150.820,225.2475,299.99
Energy_Consumption_TWh,17686.0,500.071501,287.008603,0.63,252.4475,499.645,750.0650,999.88
Automobile_Co2_Emissions_MetricTons,17686.0,49.983267,28.936346,0.11,24.7125,50.305,75.2000,100.00
Industrial_Co2_Emissions_MetricTons,17686.0,99.975617,57.630602,0.11,49.5500,100.385,149.8675,200.00
Agriculture_Co2_Emissions_MetricTons,17686.0,24.895109,14.422553,0.10,12.3900,24.820,37.3100,50.00
Domestic_Co2_Emissions_MetricTons,17686.0,10.170034,5.757755,0.10,5.1600,10.200,15.1900,20.00
Population_Millions,17686.0,752.966182,432.819846,0.51,377.4975,750.400,1126.8750,1499.83
GDP_Billion_USD,17686.0,12522.789595,7184.289404,0.22,6392.3675,12491.915,18664.7975,24999.57
Urbanization_Percentage,17686.0,60.039285,23.131004,20.01,39.8025,60.260,80.0300,100.00
Renewable_Energy_Percentage,17686.0,49.916005,28.962171,0.00,24.7300,50.000,75.0575,100.00
Industrial_Growth_Percentage,17686.0,2.570492,7.229444,-10.00,-3.7275,2.500,8.7700,15.00
Transport_Growth_Percentage,17686.0,2.471663,4.338840,-5.00,-1.2800,2.470,6.2300,10.00

In [49]:
df.describe(include = 'object').transpose()

               count unique            top  freq
Industry_Type  17686      4  Manufacturing  4516
Region         17686      6         Europe  3000
Country        17686      8         Brazil  2342

In [51]:
df.columns.to_list()

['Industry_Type',
 'Region',
 'Country',
 'Year',
 'Co2_Emissions_MetricTons',
 'Energy_Consumption_TWh',
 'Automobile_Co2_Emissions_MetricTons',
 'Industrial_Co2_Emissions_MetricTons',
 'Agriculture_Co2_Emissions_MetricTons',
 'Domestic_Co2_Emissions_MetricTons',
 'Population_Millions',
 'GDP_Billion_USD',
 'Urbanization_Percentage',
 'Renewable_Energy_Percentage',
 'Industrial_Growth_Percentage',
 'Transport_Growth_Percentage']

In [53]:
df.duplicated().sum()

0